<div class="app-container match-container"  data-action="click->tindogs#remove">

  <div>
    <iframe src="https://giphy.com/embed/h7uTwqEHysbd2lhyDP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <h1>C'est un Match</h1>
  </div>

  <div class="two-avatars">
    <%= cl_image_tag tindog.receiver.photo.key, class:"avatar-large", crop: :fill %>
    <div class="overlapping-avatar">
      <%= cl_image_tag tindog.sender.photo.key, class:"avatar-large", crop: :fill %>
    </div>
  </div>


  <%= link_to(chatroom_path(chatroom), class:"text-decoration-none action-btn") do %>
    <%=  "Prévois une sortie" %>
  <% end %>

</div>
