<div class="app-container">
  <div class="message-container">
  <h1>Discussions</h1>
    <% @chatrooms.each do |chatroom| %>
      <div class="message-card">


        <%= render partial: "chat_preview",
            locals: {
              user: chatroom.first_user == current_user ? chatroom.second_user : chatroom.first_user,
              chatroom: chatroom
            }
        %>


      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
