<div class="app-container">

  <div class="text-center">
    <h2><i class="fa-solid fa-burst"></i></h2>
    <h2> Vous avez atteint le nombre maximal de swipes pour la journée </h2>
    <div class="subscribe"> Je veux des swipes illimités </div>
  </div>
</div>
