.app-container {
  width: 100vw;
  // margin-bottom: 70px;
  background-image: $background;
  min-height: calc(100vh - 70px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}


// When there is a match
.match-container {
  z-index: 4;
  animation: pop .3s;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    font-weight: bold;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

iframe {
  position: absolute;
  right:0;
}

// dog in homepage
.center-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 66vh;
  flex-direction: column;

}

// chatroom
.message-container {
  height: calc(100vh - 70px);
  width: 100%;
  overflow: scroll;
  background-color: white;
}


.full-page {
  height: 100vh !important;
}

// walk show
.show-container {
  height: calc(100vh - 70px);
}
