.dog-profile {
  text-align: center;
  margin: 8%;
  color: white;
}

.dog-description {
  box-shadow: $shadow;
  padding: 6%;
  margin: 4% 8%;
  border-radius: 30px;
  text-align: left;
}

.form-in-row {
  display: flex;
  justify-content: space-between;
}

.form-input{
  width: 30%;
}

.large-form-input {
  width: 40%;
}
