.positive {
  color:green;
}

.negative {
  color: rgb(176, 57, 57);
}

.bulles {
  text-align: center;
  margin: 8%;
  color: white;
  p {
    margin:0;
    line-height: 1.8rem;

  }
  strong {
    color:white;
  }
}


.description-mydog {
  background-color: white;
  padding: 8%;
  margin: 20px;
  border-radius: 30px;
  font-family: 'Outfit', sans-serif;

  p {
    margin: 0;
    line-height: 1.8rem;

  }
  strong {
    margin-top: 4px;
  }
}
