.filters {
  position: fixed;
  bottom: 70px;
  left: 50%;
  width: 100vw;
  padding: 0.8rem;
  // background-color: #ffffff;
  display: flex;
  gap: 0.8rem;
  overflow: scroll;
  transform: translateX(-50%);
}

.filter-icon {
  height: fit-content;
  background-color: $red;
  color: white;
  border-radius: 40px;
  border: 1px solid  $red;
  padding: 8px 16px;
}

.filter-link {
  height: fit-content;
  color: $red;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid  $red;
  padding: 8px 16px;
  white-space: nowrap;

  &.active {
    background-color:  $red;
    color: white;
  }
}
