.walk-card {
  top: -2vh;
  border-radius: 20px;
  background-color: white;
  text-align: start;
  padding: 5%;
  min-height: calc(64vh - 70px);
}

.walk-infos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 8%;
}

.walk-description {
  margin: 16px 0px;
}
